<div id="system-tab" class="tab-content" style="display: none;">
    <h2>System</h2>
    <p id="app-version">Current app version: </p>
    <button type="button" id="update-button">Check for updates..</button>
    <br>
    <br>
    <config-checkbox confID="checkForUpdatesOnStartup" label="Check for updates on startup"></config-checkbox>
    <br>
    <br>
    <button type="button" id="clear-summaries">Clear conversation summaries</button>
    <br>
    <br>
    <open-folder-button path="logs" label="Open logs folder"></open-folder-button>
</div>
